<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="static/style.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px" >
  <h1 class="w3-xlarge">RayPlate</h1>
  
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/" class="w3-bar-item w3-button">Detect</a>
      <a href="/detect_folder" class="w3-bar-item w3-button w3-light-grey">Detect Folder</a>
      <a href="/model" class="w3-bar-item w3-button w3-light-grey">Model YOLO</a>
      <a href="/data" class="w3-bar-item w3-button w3-light-grey">Dataset</a>

      <!-- <a href="/grafik" class="w3-bar-item w3-button w3-light-grey">Grafik</a> -->
    </div>
  </div>
</header>

<!-- Isi laporan -->
<div class="konten">


  <h1>An error occurred</h1>
  <p>{{ error }}</p>
  <p>Please try again or contact support.</p>


  

</div>
<!-- End Page Content -->


<!-- Footer -->
<footer class="footer"> 
  <p>&copy; 2023</p>
</footer>

</body>
</html>
